@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';
@import '@fontsource-variable/inter';
@font-face {
  font-family: 'Rubik';
  src: url('./fonts/Rubik-VariableFont_wght.woff2') format('woff2');
  font-weight: 500;
}

:root {
  --font-primary: 'Rubik', sans-serif;
  --text-primary: #2d2a26;
  --text-advanced: #6b655f;
  --border: 1px solid #e8e2d9;
  --box-shadow: 3px 5px 3px rgb(173, 173, 173);
  --background-color: #faf6f0;
  /* card's color */
  --card-color: #fef4ce;
  --tag-color: #ffffff;
  --shadow-color: rgba(0, 0, 0, 0.18);
  /* pig's color */
  --border-color: #ff8b94;
  --background-pig: #f4abba;
}

* {
  font-family: var(--font-primary);
}
